@using WebClient.ViewModels
@model HomeViewModel

<div class="container-fluid wrapper">

    <div class="col-lg-9">
        <div id="game-panel">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-hand-right"></span> Games
                </div>
                <div class="panel-games-body">
                    <div>

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Game list</a></li>
                            <li role="presentation"><a href="#create" aria-controls="create" role="tab" data-toggle="tab">Create new game</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active game-list-tab" id="home">
                                <div class="container-fluid">
                                    <table id="gameList" class="display" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Creaion date</th>
                                                <th>Author</th>
                                                <th>Players</th>
                                                <th>State</th>
                                            </tr>
                                        </thead>
                                        <tbody >
                                            @foreach (var item in Model.Games)
                                            {
                                                <tr onclick="onTrClick(this)" data-id="@item.Id">
                                                    <td>@item.Name</td>
                                                    <td>@item.CreatedOn.ToShortDateString()</td>
                                                    <td>@item.Creator.Name</td>
                                                    <td>@item.Players.Count / 2</td>
                                                    <td>@item.Status</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="create">
                                @using (Html.BeginForm("Index", "Play", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { target = "_blank", @class = "form-horizontal", role = "form" }))
                                {

                                    <fieldset>
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="textinput">Name</label>
                                            <div class="col-md-4">
                                                <input id="Name" name="Name" type="text" placeholder="Name" class="form-control input-md">

                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="textinput">Victory limit</label>
                                            <div class="col-md-4">
                                                <input type="number" id="VictoryLimit" name="VictoryLimit" placeholder="Victory limit" class="form-control input-md">

                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="textinput">Turn duration</label>
                                            <div class="col-md-4">
                                                <input type="number" id="TurnDuration" name="TurnDuration" placeholder="Turn duration" class="form-control input-md">

                                            </div>
                                        </div>

                                        <!-- Button -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="singlebutton"></label>
                                            <div class="col-md-4">
                                                <button id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit">Create game!</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                }
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div id="chat-panel">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                </div>
                <div class="panel-body">
                    <ul id="chat" class="chat">
                        
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="messageText" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="sendmessage">
                                Send
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div id="players-panel">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-user"></span> Players
                </div>
                <div class="panel-body">

                    <ul class="players-list" id="playerList">
                        @foreach (var item in Model.Players)
                        {
                            <li>@item.Name</li>
                        }
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        playAction = '@Url.Action("Index", "Play")';
        playerName = @Html.Raw("'" + ViewBag.PlayerName + "'");
    </script>
    <script src="~/Scripts/lobby-script.js"></script>
}