@model GameEngine.Game

<div class="container-fluid wrapper">
    <div class="row">
        <div class="col-sm-8">
            <div class="center-block text-center">
                <p id="player1Name">@Model.Creator.Name</p>
                <p id="player1Points">@Model.Creator.Points</p>
                <p id="player2Points">@ViewBag.Player2Points</p>
                <p id="player2Name">@ViewBag.Player2Name</p>
            </div>
            <div class="center-block text-center">
                <p class="turn">Game state:</p><p class="turn" id="status">@Model.Status</p>
            </div>
            <div class="center-block text-center">
                <p class="turn">Turn:</p><p id="turn">1</p>
            </div>
            <div class="center-block text-center" id="timeBlock">
                <p class="turn">Time:</p><p class="turn" id="time">00:00</p>
            </div>
            <div class="center-block text-center">
                <button type="button" class="btn btn-success" id="startGame">Start game</button>
                <button type="button" class="btn btn-success" id="exitGame">Exit game</button>
            </div>
            <div id="turnActions">
                <h1 class="text-center">Selected action:</h1>
                <div class="center-block text-center">
                    <div class="unknown action-image" id="player1Choice"></div>
                    <div class="unknown action-image" id="player2Choice"></div>
                </div>
                <div class="center-block text-center">
                    <button type="button" class="btn btn-success" id="getHint">Get hint</button>
                </div>
                
                <h2 id="winMessage" class="text-center"></h2>
            </div>
            <div id="actionsPanel">
                <h1 class="text-center">Select action:</h1>
                <div class="center-block text-center">
                    <div class="spock action-image" data-action="4" id="spock-action"></div>
                    <div class="lizard action-image" data-action="3" id="lizard-action"></div>
                    <div class="rock action-image" data-action="0" id="rock-action"></div>
                    <div class="scissors action-image" data-action="2" id="scissors-action"></div>
                    <div class="paper action-image" data-action="1" id="paper-action"></div>
                </div>
            </div>

        </div>
        <div class="col-sm-4">
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"><a href="#logTab" class="active" aria-controls="logTab" role="tab" data-toggle="tab">Battle log</a></li>
                    <li role="presentation"><a href="#tunsTab" aria-controls="settingstunsTab" role="tab" data-toggle="tab">Turns</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active" id="logTab">
                        <h1>BattleLog</h1>
                        <ul class=".battleLog" id="battlelog"></ul>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tunsTab">
                        <h1>Turns</h1>
                        @foreach (var item in Model.Turns)
                        {
                            <div class="turn-container">
                                <p class="turn-container-title">Turn @Model.Turns.IndexOf(item)</p>
                                @foreach (var act in item.GameActions)
                                {
                                    <p>@act.Key.Name: @act.Value</p>
                                    if (item.HintsUsed.Contains(@act.Key))
                                    {
                                        <span class="label label-primary">Hint</span>
                                    }
                                    if (!item.IsDraw)
                                    {
                                        if (act.Key == item.Winner)
                                        {
                                            <p class="turn-container-winner">@act.Key.Name : @act.Value</p>
                                        }
                                        else
                                        {
                                            <p class="turn-container-looser">@act.Key.Name : @act.Value</p>
                                        }
                                    }
                                    else
                                    {
                                        <p class="turn-container-looser">@act.Key.Name : @act.Value</p>
                                    }
                                }
 
                            </div>
                        }
                    </div>
                </div>

            </div>
            
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        gameStatus = '@Model.Status';
        hintUsed = '@ViewBag.HintUsed' == 'True' ? true : false;
        PlayerName = @Html.Raw("'" + ViewBag.PlayerName + "'");
        GameName = @Html.Raw("'" + ViewBag.GameName + "'");
        seconds = @Model.TurnDuration;
        creatorName = @Html.Raw("'" + @Model.Creator.Name + "'");
        canStartGame = @Html.Raw("'" + ViewBag.CanStartGame + "'");

    </script>
    <script src="~/Scripts/play-script.js"></script>
}    